<div class="col-10 d-flex flex-column align-items-start justify-content-start">

  <div>

    {{#with profileDetails}}
      <h2>User Profile: {{username}}</h2>
      <img src="{{profileImage}}" alt="profile-image" width="180px" />
      <p>Email: {{email}}</p>
      <p>Age: {{age}}</p>
    {{/with}}

  </div>

  <div>
    <h4>Own Publications</h4>
    {{#each publicationUserOnline}}
    <a href="/profile/publications/{{_id}}/details">
      <h5>{{title}}</h5>
    </a>
      <p>created: {{createdAt}}</p>
      <p>updated: {{updatedAt}}</p>

    {{/each}}

  </div>
</div>