<div class="col-10 d-flex flex-column align-items-start justify-content-start">

  <div class="col-5 d-flex flex-column align-items-start justify-content-start">

    {{#with profileDetails}}
      <h2>User Profile: {{username}}</h2>
      <img src="{{profileImage}}" alt="profile-image" width="180px" />
      <p>Email: {{email}}</p>
      <p>Age: {{age}}</p>
      
    {{/with}}
    <a href="/profile/edit"> <button>Edit Profile</button> </a>
     
  </div>

  <div class="col-5 d-flex flex-row align-items-start justify-content-between">
    <div>
    <h4>Own Posts</h4>
    {{#each publicationUserOnline}}
      <a href="/profile/publications/{{_id}}/details">
        <h5>{{title}}</h5>
      </a>
      <p>created: {{createdAt}}</p>
      <p>updated: {{updatedAt}}</p>

    {{/each}}
    </div>
    <div class="col-5 d-flex flex-column align-items-start justify-content-start">
      <h4>Favourite Posts</h4>

      {{#each profileDetails.favourites}}
        <a href="/user/{{_id}}/details">
          <h5>{{title}}</h5>
          <form action="/profile/publications/{{_id}}/favouritedelete" method="POST">
          <button>remove</button>
          </form>
        </a>
      {{/each}}
    </div>

  </div>

</div>