<div id ="publi-details-comments-box" class="col-8 d-flex flex-column align-items-center justify-content-start">
    <h1 id = "iron-world">Publication details</h1>

    {{!-- Publication and comments --}}
    {{#with clonedPublication}}

            {{!-- Detailed Publication --}}
            <div id="publication-details-box" class="news d-flex flex-row justify-content-start">
                <div class="news d-flex flex-row">
                <img class="news-profile-image" src="{{user.profileImage}}" alt="profile-image">
                <div class="news-items d-flex flex-column">
                    <div class="d-flex flex-row justify-content-between">
                        <p><span>{{user.username}}</span></p>
                        <p class="date">created on {{createdAt}}</p>
                    </div>
                    <div class="separator"></div>
                    <div class="new-content d-flex flex-column">
                        <p class="new-title">{{title}}</p>
                        <p>{{content}}</p>
                        <img src="{{file}}" alt="file" width="170px">
                    </div>
                </div>
                </div>
            </div>
            
            {{!-- Comments section--}}
            {{!-- Add comment --}}
            <div id = "comments-section" class="d-flex flex-column">
                <div id="add-comment-box" class="d-flex flex-row align-items-center">
                    <img class="news-profile-image" src="{{user.profileImage}}" alt="profile-image">
                    <form action="/user/{{_id}}/comment/create" method="POST" class="d-flex">
                        <label for="message" class="form-label"></label>
                        <input type="text" name="message" class="form-control" placeholder="Add a comment...">
                        <button class ="btn btn-success">Comment</button>
                    </form>
                    <p>{{../errorMessage}}</p>
                </div>
                
                {{!-- Display publication comments --}}
                <div id = "comments">
                    <h2>Comments:</h2>
                    {{#each comments}}
                        <div id = "each-comment" class="d-flex flex-row align-items-center">
                            <img id="comment-profile-image" src="{{user.profileImage}}" alt="profile-image">
                            <div id ="comment-details-box">
                            
                                {{#if edited}}
                                    <form id = "comment-details-edit" action="/user/{{../_id}}/{{_id}}/edit" method="POST" class="d-flex flex-row justify-content-between align-items-center" >
                                        <div class="d-flex flex-column comment-area">
                                            <p id ="comment-username">{{user.username}}</p>
                                            <input type="text" name="message" value="{{message}}" class="form-control">
                                        </div>
                                        {{#if isOwner}}
                                        <button id="edit-post-btn" class="btn btn-outline-secondary">Edit</button>
                                        {{/if}}
                                    </form>
                                
                                {{else}}
                                    <div class="d-flex flex-row justify-content-between">
                                        <div class="d-flex flex-column comment-area">
                                            <div id="comment-header" class="d-flex flex-row justify-content-start align-items-center">
                                                <p id ="comment-username">{{user.username}}</p>
                                                <p class="date comment-date">created on {{createdAt}}</p>
                                            </div>
                                            <p id ="comment-message">{{message}}</p>
                                        </div>
                                    <form action="/user/{{../_id}}/{{_id}}/edit" method="GET" >
                                    {{#if isOwner}}
                                        <button id = "edit-get-btn" class="btn btn-outline-secondary">Edit</button>
                                    {{/if}}
                                    </form>
                                    
                                    </div>
                                {{/if}}
                            
                            </div>
                            <form id="delete-comment" action="/user/{{../_id}}/{{_id}}/delete" method="POST" >
                                {{#if isOwner}}
                                <button id = "delete-btn" class="btn btn-outline-danger">Delete</button>
                                {{/if}}
                            </form>
                        </div>
                                
                        <div class="separator"></div>
                    {{/each}}
                </div>
            </div>
    {{/with}}
</div>