<div class="col-10 d-flex flex-column align-items-center justify-content-start">
    <h1>Filtered publications by: {{searchTerm}}</h1>

    {{#if matchedResult}}
        {{#each filteredPublications}}
            {{#if searched}}
                <div class="news" class="d-flex flex-row justify-content-start">
                    <a id="new-details-link" href="/user/{{_id}}/details" class="d-flex flex-row">
                    <img class="news-profile-image" src="{{user.profileImage}}" alt="profile-image">
                    <div class="news-items d-flex flex-column">
                        <div class="d-flex flex-row justify-content-between">
                            <p><span>{{user.username}}</span></p>
                            <p class="date">created on {{createdAt}}</p>
                        </div>
                        <div class="separator"></div>
                        <div class="new-content d-flex flex-column">
                            <p class="new-title">{{title}}</p>
                            <p>{{content}}</p>
                            <img src="{{file}}" alt="file" width="170px">
                        </div>
                        <div class="d-flex flex-row justify-content-end">
                            <p class="date">edited on {{updatedAt}}</p>
                        </div>
                    </div>
                    </a>
                </div>
            {{/if}}
        {{/each}}
        {{else}}
            <div>
                <p>No results were found for your search. Please try again.</p>
            </div>
            <a href="/">
                <button class="btn btn-primary">Go back</button>
            </a>
    {{/if}}
    
    <p style="font-size: 20px; font-weight: bolder; color: red">{{errorMessage}}</p>

</div>