<div class="col-7 d-flex flex-column align-items-start justify-content-start">
    <h1 id = "iron-world">IronWorld</h1>

    {{!-- Let publications in the DB to be shown in Home page if approved --}}
    {{#each clonedPublications}}
        {{#if approved}}
            <div class="news" class="d-flex flex-row justify-content-start">
                <a id="new-details-link" href="/user/{{_id}}/details" class="d-flex flex-row">
                <img class="news-profile-image" src="{{user.profileImage}}" alt="profile-image">
                <div class="news-items d-flex flex-column">
                    <div class="d-flex flex-row justify-content-between">
                        <p><span>{{user.username}}</span></p>
                        <p class="date">created on {{createdAt}}</p>
                    </div>
                    <div class="separator"></div>
                    <div class="new-content d-flex flex-column">
                        <p class="new-title">{{title}}</p>
                        <p>{{content}}</p>
                        <img src="{{file}}" alt="file" width="170px">
                    </div>
                    <div class="d-flex flex-row justify-content-end">
                        <p class="date">edited on {{updatedAt}}</p>
                    </div>
                </div>
                </a>
            </div>
        {{/if}}
    {{/each}}
</div>

<div  class="col-3 d-flex flex-column bg-light justify-content-around">
    <div>
        <form action="user/search-publication" method="GET">
            <label for="searchTerm">Search a Publication:</label>
            <input type="text" name="searchTerm" placeholder="Enter your search...">
            <button type="submit">Search</button>
        </form>
    </div>

    <div>
        <h3>Check the latest IT remote jobs!</h3>
        <ol>
            {{#each jobOffers}}
                <li><a href="{{url}}" target="_blank">{{title}}</a></li>
            {{/each}}
        </ol>
    </div>
</div>

