<div class="col-6 d-flex flex-column align-items-start justify-content-start">
    <h1 id = "iron-world">IronWorld</h1>

    {{!-- Let publications in the DB to be shown in Home page if approved --}}
    {{#each clonedPublications}}
        {{#if approved}}
            <div class="news" class="d-flex flex-row justify-content-start">
                <a id="new-details-link" href="/user/{{_id}}/details" class="d-flex flex-row">
                <img class="news-profile-image" src="{{user.profileImage}}" alt="profile-image">
                <div class="news-items d-flex flex-column">
                    <div class="d-flex flex-row justify-content-between align-items-center">
                        <p><span>{{user.username}}</span></p>
                        <div id ="like-items" class="d-flex flex-row justify-content-between align-items-center">
                            <img id="like" src="../images/like.png" alt="like" width="15px">
                            <p id = "likes-count">{{likes}}</p>
                        </div>
                        <div id = "comment-items" class="d-flex flex-row justify-content-between align-items-center">
                            <img id="comment-icon" src="../images/comment.png" alt="like" width="20px">
                            <p>{{commentCounter}}</p>
                        </div>
                        <p class="date">created on {{createdAt}}</p>
                    </div>
                    <div class="separator"></div>
                    <div class="new-content d-flex flex-column">
                        <p class="new-title">{{title}}</p>
                        <p>{{content}}</p>
                        <img src="{{file}}" alt="file" width="170px">
                    </div>
                    <div class="d-flex flex-row justify-content-between align-items-center">
                        <div class="d-flex flex-row justify-content-start">
                            
                            <form action="/user/{{_id}}/like" method="POST">
                                <button class="btn btn-block btn-primary">Like</button>
                            </form>
                            <form action="/user/{{_id}}/unlike" method="POST">
                                <button class="btn btn-block btn-danger">Unlike</button>
                            </form>
                            <form action="/profile/publications/{{_id}}/favourite" method="POST">
                                <button class="btn btn-dark">Favourite</button>
                            </form>
                        </div>
                        <p class="date">edited on {{updatedAt}}</p>
                    </div>
                </div>
                </a>
            </div>
        {{/if}}
    {{/each}}
</div>

<div id="right-nav-bar" class="col-4 d-flex flex-column bg-light justify-content-start">
    
    <form id ="search-form" action="user/search-publication" method="GET" class="d-flex flex-row justifiy-content-between">
        <input id="search-field" type="text" name="searchTerm" placeholder="Search a publication..." class="form-control">
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    

    <div id="job-offers" class="d-flex flex-column align-items-center justify-content around">
        <h3>Latest IT job offers</h3>
        <ul>
            {{#each jobOffers}}
                <li><a href="{{url}}" target="_blank">{{title}}</a></li>
                <div class="separator"></div>
            {{/each}}
        </ul>
    </div>

    <div class="d-flex flex-column align-items-center justify-content around">

    </div>
</div>

