<div class="col-7 d-flex flex-column align-items-start justify-content-start">
    <h1 id = "iron-world">IronWorld</h1>

    {{!-- Let publications in the DB to be shown in Home page if approved --}}
    {{#each publications}}
        {{#if approved}}
            <div class="news" class="d-flex flex-row justify-content-start">
                <a id="new-details-link" href="/user/{{_id}}/details" class="d-flex flex-row">
                <img class="news-profile-image" src="{{user.profileImage}}" alt="profile-image">
                <div class="news-items d-flex flex-column">
                    <p><span>{{user.username}}</span></p>
                    <div class="separator"></div>
                    <div class="new-content d-flex flex-column">
                        <p class="new-title">{{title}}</p>
                        <p>{{content}}</p>
                        <img src="{{file}}" alt="file" width="170px">
                    </div>
                </div>
                </a>
            </div>
        {{/if}}
    {{/each}}
</div>

<div class="col-3 d-flex flex-column bg-light">
    <h3>Check the latest IT remote jobs!</h3>
    <ol>
        {{#each jobOffers}}
            <li><a href="{{url}}" target="_blank">{{title}}</a></li>
        {{/each}}
    </ol>
</div>
