<div class="col-8 d-flex flex-column align-items-start justify-content-start">
    <h1>IronWorld</h1>

    {{!-- Let publications in the DB to be shown in Home page if approved === true --}}
    {{#each publications}}
        {{#if approved}}
            <div id="news" class="bg-light">
                <p>Title: {{title}}</p>
                <p>{{content}}</p>
                <p>User:{{user.username}}</p>
                <form action="/user/{{_id}}/comment/create" method="POST" class="d-flex">
                    <label for="message" class="form-label">Anything to say about?</label>
                    <input type="text" name="message" class="form-control">

                    <button>Comment</button>
                </form>
                <h5>Comments:</h5>
                {{#each comments}}
                    <p>{{message}}</p>
                {{/each}}
            </div>
        {{/if}}
    {{/each}}
</div>