<div class="col-10 d-flex flex-column align-items-start justify-content-start">
    
    <h2>Publication details: {{publicationToEdit.title}}</h2>
    <p>User Name:{{publicationToEdit.user.username}}</p>

    {{#with publicationToEdit}}
    <form action="/admin/publications/{{_id}}/edit" method="POST" class="bg-light">
        <div>
            <label for="title" class="form-label">Title: </label>
            <input type="text" name="title" value="{{title}}" class="form-control">
        </div>
        
        <div>
            <label for="content" class="form-label">Content:</label>
            <input type="text" name="content" value="{{content}}" class="form-control">
        </div>
        
        <div>
            <label for="file" class="form-label">File:</label>
            <input type="text" name="file" value="{{file}}" class="form-control">
        </div>

        {{!-- <div>
            <label for="approved" class="form-label">Approved:</label>
            <input type="text" name="approved" value="{{approved}}" class="form-control">
        </div> PASAR FOR EACH DEL ARRAY?--}}

        <button class="btn btn-primary">Edit</button>
    </form>
    {{/with}}
</div>