{{! *************** APPROVED LIST *************** }}

<div class="list col-5 d-flex flex-column align-items-center justify-content-start bg-light">
  <h2>APPROVED</h2>
  <p style="color: darkblue;">{{emptyMessageApproved}}</p>
  {{! Display approved, edit and delete buttons in the publications list }}
  {{#each approvedList}}
    <div class="list-publication-items">
      <p>{{title}}</p>
      <div class="list-publication-buttons">
        <form action="/admin/publications/{{_id}}/cancel" method="POST">
          <button class="btn btn-light">Cancel</button>
        </form>
        <a href="/admin/publications/{{_id}}/edit">
          <button class="btn btn-secondary">Edit</button>
        </a>
        <form action="/admin/publications/{{_id}}/delete" method="POST">
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
    <div class="separator"></div>
    {{/each}}
</div>

{{! *************** PENDING LIST *************** }}

<div class="list col-5 d-flex flex-column align-items-center justify-content-start bg-light">
    <h2>PENDING</h2>
    <p style="color: darkblue;">{{emptyMessagePending}}</p>
      {{!-- Display pending, edit and delete buttons in the publications list --}}
      {{#each pendingList}}
      <div class="list-publication-items">  
          <p>{{title}}</p>
          <div class="list-publication-buttons">
            <form action="/admin/publications/{{_id}}/approval" method="POST">
              <button class="btn btn-light">Approve</button>
            </form>
            <a href="/admin/publications/{{_id}}/edit">
              <button class="btn btn-secondary">Edit</button>
            </a>
            <form action="/admin/publications/{{_id}}/delete" method="POST">
              <button class="btn btn-danger">Delete</button>
            </form>
            </div>
      </div>
      <div class="separator"></div>
      {{/each}}
</div>